/* COLORS IN USE //
----------------------

    * Crvena: #F72249
    * Crvena hover #fd002e
    * Teget: #0F1840
    * pozadina skecija: #F7F7FD
    * Footer: #030919
    * Copyright: #101522
    
------------------------------
*/

/* ** GENERAL =================================== */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 7000px;
}

h2{
    color: #0F1840;
}

.section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.section-title h2{
    text-transform: uppercase;
}

.section-title p{
    color: gray;
}


.custom-hr{
    width: 60px;
    height: 4px;
    background-color: #F72249;
    margin-top: .3rem;
}

a{
    transition: all .3s;
}

a:hover{
    transition: all .3s;
}

.back-to-top{
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: #F72249;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top:hover{
    background-color: #fd0000;
}

.btn-custom{
    color: #fff;
    background-color: #880101c9;
    border-radius: 50px !important;
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
}

.btn-custom:hover{
    color: #FFF;
    background-color: #ff0000;
}





/* ================================================================ */

/* * NAVBAR ************************** */

.nav-bg{
    background-color: #0f18408a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-bg .active{
    border-bottom: 2px solid #F72249;
}

.cta-btn{
    background-color: #F72249;    
    border-radius: 100px;
    color: #fff !important;
    padding: .5rem 1.5rem !important;
    font-weight: 500;
    margin-left: .5rem;
}

.cta-btn:hover{
    background-color: #fd002e;
}

.modal-btn{
    background-color: #F72249;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.border-btn{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.597);
    border-radius: 200px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.outline-btn{
    color: #fff;
    border: 1px solid #F72249;
    width: fit-content;
    padding: .3rem 1.5rem;
    border-radius: 100px;
}

.outline-btn:hover{
    background-color: #F72249;
    color: #ffff;
    text-decoration: none;
}

.modal-btn:hover{
    background-color: #fd002e;

}

.main-logo{
    height: 30px;
    width: auto;
}

/* ** HERO SECTION ****************** */

.hero-section{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}

.hero-dark{
    width: 100%;
    height: 100%;
    background-color: #0f1840a6;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 1;
}

.hero-content{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.red-text{
    color: #F72249;
}

.hero-section p{
    text-align: center;
}

/* ** ABOUT EVENT SECTION *************** */

.about-event-section{
    background-image: url(../img/aboutevent.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    padding: 3rem 0px;
    background-attachment: fixed;
}

.about-event-section p{
    margin-bottom: 0px;
}

.about-event-section h2{
    color: #fff;
}

.about-dark{
    width: 100%;
    height: 100%;
    background-color: #0f1840af;
    position: absolute;
    top: 0;
    left: 0;
}

/* ** EVENT SPEAKERS */

.event-speaker-section{
    margin: 3.5rem 0px;
}

.event-card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 220px;
    color: #fff;
    position: relative;
    overflow: hidden;
    
}

.event-card:hover .event-card-title{
    bottom: 0px;
    transition: all .4s;
}

.event-card-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f1840af;
    padding: .9rem;
    position: absolute;
    bottom: -43px;
    left: 0;
    width: 100%;
    transition: all .4s;
}

.event-card-title a{
    color: #fff;
}

.event-card-title a:hover{
    color: #F72249;
    text-decoration: none;
}

.event-card-title h6{
    margin-bottom: 0px;
    font-size: 1.1rem;
}

.event-card-title i{
    font-size: .8rem;
}

.event-card-title svg{
    margin: 0px .15rem;
}


/* ** EVENT SECTION ==================== */

.event-section{
    background-color: #F7F7FD;
    padding: 3.5rem 0px;
}

.event-section .nav-link{
    border-radius: 100px;
    padding: .4rem 5rem;
    background-color: #0F1840;
    color: #fff;
    margin: 0px .4rem;
    transform: all .4s;
}

.event-section .nav-link:hover{
    background-color: #3d4b8c;
    transform: all .4s;
}

.event-section i{
    color: gray;
}

.evebt-item{
    margin-top: 2rem;
}

.event-section .nav-link.active{
    background-color:#F72249;

}

.event-section .list-group-item{
    background-color: transparent;
}

.event-item .event-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: .1rem;
    margin-left: 1.5rem;
}

.event-item .list-group-item {
    display: flex;
    align-items: center;
    transition: all .4s;
    padding: 1.1rem 0px;
}

.event-item .list-group-item:hover{
    background-color: #fff;
    transition: all .4s;
}

.event-item h6{
    margin-bottom: .1rem;
}

.event-item h6 i{
    color: #283e9e;
    font-weight: 400;
}

.event-item i{
    font-size: .9rem;
}


/* ** EVENT GALLERY ************ */

.event-gallery{
    padding: 3.5rem 0px;
}

.gallery-top-img{
    background-image: url('../img/conference_center.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-darken{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0f1840a3;
    z-index: 0;
}

.gallery-small-img{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 170px;
    transition: all .4s;
}

.gallery-small-img:hover{
    background-size: 120%;
    transition: all .4s;
}

.event-gallery [class^="col-"]{
    padding: 2px;
}

/* HOTELS IMG */

.hotel-section{
    background-color: rgb(221, 221, 221);
    padding: 3.5rem 0px;
}

.hotel-img{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 190px;
    transition: all .4s;
}

.hotel-card{
    background-color: #fff;
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(221, 221, 221);
}

.hotel-card-body{
    padding: 1rem;

}

.hotel-card:hover .hotel-img{
    background-size: 120%;
    transition: all .4s;
}

/*  **GALLERY SECTION ************** */

.gallery-section{
    padding: 3.5rem 0px;
}

.gallery-section .nav-link{
    color:#0F1840;
}

.gallery-section .nav-link.active{
    background-color: transparent;
    color: #fd002e;
    font-weight: 500;
}

.gallery-img{
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    overflow: hidden;
}

.gallery-img .img-hover{
    width: 100%;
    background-color: #0f1840c4;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -100px;
    transition: all 1s;
}

.gallery-img:hover .img-hover{
    top: 0px;
    transition: all .4s;
}

.gallery-img .img-hover h6,p{
    margin: 0;
}

.gallery-img .img-hover p{
    font-size: .8rem;
}

.gallery-img .img-hover a{
    color: #fff;
}

.gallery-img .img-hover a:hover{
    color: #fd002e;
}


/* ** SPONSORS ** ============= */

.sponsors-section{
    background-color: #F7F7FD;
    padding:  3.5rem 0px;
}

.support-logo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #bdbcbc;
    border-bottom: 1px solid #bdbcbc;
    padding: 2rem;
}

.logo-img{
    width: 50px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: red;
}

.support-logo img{
    transition: all .3s;
}

.support-logo:hover img{
    transform: scale(1.3);
    transition: all .3s;
}

.sponsors-section .row-border{
    border-top: 1px solid #bdbcbc;
    border-left: 1px solid #bdbcbc;
    background-color: #fff;
}


/* ** F.A.Q SECTION ** */

.faq-section{
    padding: 3.5rem 0px;
}

.faq-questions .card-header{
    border: none;
    padding-left: 0px;
}

.faq-questions .card{
    border: none;
    border-bottom: 1px solid #ebebeb !important;
}

.faq-questions .card-header .btn{
    padding-left: 0px;
}

.faq-section .card-header .btn-link{
    color: red;
    font-weight: 500;
}

.faq-section .card-header .btn-link.collapsed{
    color: black;
}


/* ** NEWSLETTER ** */

.newsletter{
    background-image: url('../img/subscribe-bg.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3.5rem 0px;
    position: relative;

}

.newsletter input{
    border-radius: 100px !important;
    padding-left: 1.5rem;
    margin-right: .7rem;
}

.newsletter-dark{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #15277783;
    width: 100%;
    height: 100%;
}

.newsletter .section-title h2{
    color: #ffff;
}

.newsletter .section-title p{
    color: #ffff;
}

/* ** BUY TICKETS ** */

.buy-tickets-section{
    padding: 3.5rem 0px;
    background-color: #F7F7FD;
}

.pricing-card{
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    height: fit-content;
}

.pricing-card .pricing-header{
    text-align: center;
    padding: 1rem 0px;
    border-bottom: 1px solid #ebebeb;
}

.pricing-card .pricing-header span{
    text-transform: uppercase;
    color: gray;
}

.pricing-card .pricing-header h1{
    font-weight: 400;
    margin-top: .6rem;
}

.pricing-card .pricing-body{
    padding: 1rem;
    border-bottom: 1px solid #ebebeb;

}

.pricing-card ul{
    list-style-position: inside;
}

.pricing-card .not-included{
    color: rgb(157, 155, 155);
    margin-bottom: 0px;
}

.pricing-card ul li{
    margin-bottom: .7rem;
}

.pricing-card ul li:last-child(){
    margin-bottom: 0px;
}

.pricing-card .pricing-footer{
    padding: 1rem;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ** CONTACT US SECTION ** */

.contact-us-section{
    margin-top: 2.5rem;
}

.contact-us-section .contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  2rem 0px;
}

.contact-us-section .contact-card p{
    color: #1b308c;
}

.contact-us-section .contact-card h5{
    color: #0F1840;
}

.contact-us-section .contact-us-middle-card{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

/* ** CONTACT US FORM ** */

.contact-us-form{
    margin-top: 3.5rem;
}

.contact-us-form-main input, textarea{
    margin: .3rem 0px;
}


/* ** FOOTER SECTION ** */

.footer-section{
    background-color: #02071d;
    margin-top: 3.5rem;
    padding: 2rem 0px;
}

.footer-section .footer-logo-card{
    color: #fff;
}

.footer-section .footer-logo-card img{
    margin-bottom: .7rem;
}

.footer-section .footer-links{
    color: #fff;
}

.footer-section .footer-links h5{
    font-size: 1.2rem;
    border-bottom: 1px solid #fd002e;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
}

.footer-section .footer-links ul{
    list-style: none;
}

.footer-section .footer-links ul li{
    margin: .7rem 0px;
    padding-bottom: .3rem;
    border-bottom: 1px solid rgb(53, 53, 53);
}

.footer-section .footer-links svg{
    color: red;
}

.footer-section .footer-contact{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.footer-section .footer-contact h5{
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.footer-section .footer-contact-icons ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}


.footer-section .footer-contact-icons ul li{
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: gray;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .footer-contact-us-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footer-section .footer-contact-icons{
    display: flex;
}


/* =========================================== */
/*                 RESPONSIVE                  */
/* =========================================== */

                
/* ** XS---> Breakpoint ** */ 
@media (max-width: 575.98px) {
    .mb-small{
        margin-bottom: 1.45rem;
    }

    /* ? Event Schedule */
    .event-section .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-section .nav .nav-item{
        margin-bottom: .4rem;
    }

    .event-section .list-group .list-group-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .event-section .event-img{
        margin: .5rem 0px .7rem 0px;
    }

    /* ** EVENT GALLERY ** */
    .event-gallery .gallery-small-img{
        height: 115px;        
    }

    /* ** NEWSLETTER ** */
    .newsletter .w-50{
        width: 100% !important;
    }

    /* ** CONTACT US ** */
    .contact-us-section .contact-us-middle-card{
        border-left: none;
        border-right: none;
    }
}
        
/* ** SÐœ --> Breakpoint ** */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* ** MD --> Breakpoint ** */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* ** HERO SECTION ** */
    .mb-small{
        margin-bottom: 1.4rem;
    }

    .hero-section{
        height: 70vh;
    }

    /* ** EVENT SECTION ** */

    .event-section .w-75{
        width: 100% !important;
    }

    /* ** NEWSLETTER ** */
    .newsletter .w-50{
        width: 70% !important;
    }

    /* ** BUY TICKETS ** */
    .buy-tickets-section .row{
        display: flex;
        justify-content: center;
    }

    /* ** CONTACT US ** */
    .contact-us-section .contact-us-middle-card{
        border-left: none;
        border-right: none;
    }


}

/* ** LG --> Breakpoint ** */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* ** HERO SECTION ** */
    .mb-small{
        margin-bottom: 1.4rem;
    }

    .hero-section{
        height: 65vh;
    }



}

/* ** XL --> Breakpoint ** */
@media (min-width: 1200px) and (max-width: 3000px) {
 
}
